body {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: sans-serif;
}

.network {
    position: relative;
    width: 600px;
    height: 400px;
}

.neuron {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.7); /* фиолетовое свичение */
    background: linear-gradient(135deg, #800080, #d580ff); /* фиолетовый градиент */
    cursor: default;
    
    animation: pulse 3s infinite;

}

/* Позиции */
.neuron.input {
    top: 50%;
    left: 13.7%;
    transform: translate(-50%, -50%);
    
}

.neuron.output {
    top: 50%;
    left: 74.7%;
    transform:  translate(50%, -50%);
}

/* Связь (пока просто линия) */
.connection {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 360px; /* расстояние между нейронами */
    height: 4px;
    background-color: #d580ff;
    transform: translateY(-50%);

}

.connection::after {
    content: attr(data-weight);
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    animation: pulse 3s infinite;
}

@keyframes pulse {
        0% {
            text-shadow: 0 0 5px #d580ff, 0 0 10px #d580ff, 0 0 20px #d580ff;
        }
    }